body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
.logic{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
  svg {
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  p {
    margin: 10px 2px;
    
  }
  .Note{
    font-size: 12px;
    color: red;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
  }

  button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 10px 5px 5px 0;
  }

  button:hover {
    background-color: #3e8e41;
  }

  circle {
    fill: #f5f5f5;
    stroke: #333;
    stroke-width: 2;
  }

  circle {
    transition: fill 0.3s ease;
  }

  circle.active {
    fill: #4CAF50;
  }

  circle.input-1.active {
    fill: green;
  }
